<form method="post" action="fetchtwo">
    <label>search by Username</label>
    <input type="text" name='test'>
    <input type="submit" value="search">
</form>
{% for a in auth %}
{{a.id}}
{{a.username}}
{% endfor %}